:root {
  --ff-secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ff-playfair: 'Playfair Display', serif;
  --ff-raleway: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  /* 1REM = 10px */
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-raleway);
  font-size: 1.6rem;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: var(--ff-playfair);
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
}

/* media queries */
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}
