/* HERO */
.hero {
  background-image: url(../../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 25rem;
}

/* media queries */
@media (min-width: 768px) {
  .hero {
    height: 55rem;
  }
}
