/* GALLERY SECTION */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.link-img-gallery {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* media queries */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
