/* PRODUCT CATEGORIES */
.product-categories {
  padding-top: 5rem;
}

.category {
  text-align: center;
  margin-bottom: 2rem;
}

.category:last-child {
  margin-bottom: 0;
}

.img-category-container {
  position: relative;
}

.img-category {
  max-width: 100%;
  width: 100%;
  display: block;
}

.category a {
  padding: 2rem;
  display: block;
  font-size: 2rem;
  transition: all 0.2s ease;
}

.category a:hover {
  color: #ffffff;
  background-color: #037bc0;
}

/* media queries */
@media (min-width: 768px) {
  .list-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .category {
    margin-bottom: 0;
  }
}
